.me {
  display: flex;
  flex-wrap: wrap;

  h2 {
    font-family: 'Roboto Condensed', cursive;
  }
}

//About me section
.aboutMe {
  width: 100%;
  padding: 3rem 2rem;

  @include breakpoint-up(large) {
    max-width: 50vw;
  }

  .meImage {
    position: relative;
    width: 100%;
    margin-top: 1rem;
    margin-left: 1rem;

    img {
      position: relative;
      margin-left: 0.5rem;
      width: calc(100% - 3rem);
    }

    .subtitle {
      font-style: italic;
      font-size: 0.75rem;
      margin-left: 0.5rem;
    }
  }

  .text {
    margin-top: 1rem;
    margin-left: 1rem;

    p {
      margin-left: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding-right: 1.5rem;
      text-align: justify;
    }
  }
}

//Contact section
.contact {
  width: 100%;
  padding: 3rem 2rem;
  @include breakpoint-up(large) {
    max-width: 50vw;
  }
}
