.projects {
  margin-top: 2rem;

  h2 {
    text-align: center;
    font-family: 'Roboto Condensed', cursive;
  }

  .container {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 2rem;

    .component {
      position: relative;
      width: 100vw;
      height: 49.3125vw; //My monitor resolution on navigator: 789px / 1600px
      overflow-x: hidden;
      border-top: 1px solid $gray;
      display: flex;

      @include breakpoint-up(medium) {
        width: 33.3vw;
        height: 16.4210625vw; //My monitor resolution on navigator: 789px / 1600px
        &:hover {
          .text {
            right: 0;
          }
        }
      }

      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .text {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      right: -100%;
      top: 0;
      transition: ease-in-out 0.2s;
      background-color: rgba($white, 0.8);

      h3 {
        font-family: 'Roboto Condensed', cursive;
        font-size: 1.5rem;
      }

      .subtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        margin-top: 0.5rem;
      }

      a {
        display: block;
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
        min-width: 40%;
        background-color: $dark-purple;
        text-decoration: none;
        color: $white;
        text-align: center;
      }
    }
  }
}
